@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../assets/registerbg.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

.register .aatbio-com-image {
    width: 300px;
    height: auto;
    margin-right: 20%;
}

.btn-home-container-register {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 50;
}


.register .overlap {
    width: 500px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 5%;
}


.register .input,
.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
    background-color: #555555b2;
    border: none;
    border-radius: 10px;
    color: #c1c1c1;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}

input[type="text"],
input[type="email"],
input[type="tel"],
button {
    margin-bottom: 20px;
}


input[type="password"] {
    margin-bottom: 12px;
}

p,
.signup-text {
    margin-top: 20px;
}

.signup-button:hover {
    background-color: #556699;
}

.register .text-wrapper-2 {
    color: #767479;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    text-align: right;
}

.register .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}

.register .text-wrapper-3:hover {
    color: #6680c0;
}

/* "Sign in" title */
.register .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.input-with-icon {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 50%;
    top: 70%;
    /* Menggeser ikon mata ke tengah secara vertikal */
    transform: translate(-50%, -50%);
    /* Untuk mengatur ikon mata tepat di tengah */
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input {
    padding-right: 70px;
    right: 100%;
    background-color: #555555b2;
    border: none;
    border-radius: 10px;
    color: #c1c1c1;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    outline: none;
    width: 100%;
    backdrop-filter: blur(5px);
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    cursor: pointer;
}