.register {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    height: 100vh;
    background-image: url(../../assets/loginbg.svg);
    background-size: cover;
    background-position: center;
    padding: 0 10%;
}

.register .aatbio-com-image {
    height: 150px;
    width: 384px;
    grid-column: 1;
}


.register .overlap {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 650px;
    width: 700px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    grid-column: 2;
}



.register .input {
    background-color: #555555b2;
    border: none;
    border-radius: 10px;
    color: #c1c1c1;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    outline: none;
    width: 100%;
    backdrop-filter: blur(5px);
}

input[type="text"],
input[type="email"],
input[type="tel"],
button {
    margin-bottom: 20px;
}


input[type="password"]{
    margin-bottom: 40px;
}

p,
.signup-text {
    margin-top: 20px;
}

.signup-button {
    background-color: #6680c0;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    padding: 20px 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #556699;
}

.register .text-wrapper-2 {
    color: #767479;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    text-align: right;
}

.register .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}

.register .text-wrapper-3:hover {
    color: #6680c0;
}

/* "Sign in" title */
.register .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.input-with-icon {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.password-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}



.password-input {
    padding-right: 70px;
    right: 100%;
    background-color: #555555b2;
    border: none;
    border-radius: 10px;
    color: #c1c1c1;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px ;
    padding-left: 20px;
    outline: none;
    width: 100%;
    backdrop-filter: blur(5px);
}


.toggle-password {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
}