.edit-input-styling{
    background-color: #EEEEEE;
    color: black;
}
.edit-input-styling:focus{
    background-color: #EEEEEE;
    color: black;
    border-color: #19161F;
    box-shadow: 0 0 5px #19161F;
}
.btn-cancel-profile{
    color: white;
    background-color: #6680C0;
    border-color: #6680C0;
    margin-right: 1rem;
    padding: 0.2rem 2.5rem;
}
.btn-cancel-profile:active{
    color: white !important;
    background-color: #6680C0 !important;
    border-color: #6680C0 !important;
}
.btn-save-profile{
    color: white;
    background-color: #36CA33;
    border-color: #36CA33;
    padding: 0.2rem 2.5rem;
}
#editPassword{
    margin-bottom: 0 !important;
}

.reset-password-btn {
    background-color: red; /* Red background */
    color: white;         /* White text */
    border: none;         /* No border */
    padding: 7px 15px;   /* Padding inside the button */
    border-radius: 5px;   /* Rounded corners */
    cursor: pointer;      /* Pointer cursor on hover */
    outline: none;
    margin-top: 32px;
            /* Remove outline */
    transition: background-color 0.3s ease; /* Transition for hover effect */
  }

  .reset-password-btn:hover {
    background-color: red; /* Keep red background on hover */
    color: white;          /* Keep white text on hover */
  }
  