.cast-card {
    width: 215px;
    height: 333px;
    position: relative;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* This adds a subtle shadow to the card */
}
  
.card-image {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.card-details {
    background-color: #ffffff;
    height: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
  
.actor-name {
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 2px; /* Reduced this margin to bring the names closer together */
}
  
.character-name {
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    color: #000000;
    margin-top: 2px; /* Added this margin for consistency */
}