.no-bookmarks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.bold-text {
    font-weight: bold;
}

.container {
    z-index: 1;
    width: 30000px;
    position: relative;
}

.sorting-dropdown {
    transform: translateX(+80%);
    z-index: 2;
    position: relative;
}

#sorting-dropdown {
    background-color: #555555;
    border-color: #555555;
}

.titlePage {
    color: white;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 80px;
    font-weight: bold;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 10;
}

