.header-profile{
    height: 25vh;
    background-color: #19161F;
}
.header-profile img{
    width: 200px;
    height: 200px;
    margin-top: 5rem;
    margin-left: 3rem;
}
.header-profile div:nth-child(1){
    margin-top: 2rem;
    margin-left: 4rem;
}
.body-profile{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    background-color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.field-edit-profile{
    width: 80%;
    height: 100vh;
}