.container-now-playing, 
.container-popular, 
.container-top-rated,
.container-upcoming {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .search-input .btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover {
  background-color: #221E2A;
  box-shadow: none!important;
  outline: 0;
} */

.container-search-home{
  width: 40%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.title-section{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn-link {
  color: #fff;
  text-decoration: none;  
}