.container-now-playing, 
.container-popular, 
.container-top-rated,
.container-upcoming {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-input {
  margin-top: 2rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.search-input input, .search-input input:focus {
  background-color: #221E2A;
  border-color: #221E2A;  
  color: white;
  margin-bottom: 0;
}

.search-input input::placeholder {
  color: white;
  font-weight: bold;
}

.search-input button {
  background-color: #221E2A;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  outline: none;
  border: none;
}

.search-input .btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover {
  background-color: #221E2A;
  box-shadow: none!important;
  outline: 0;
}


.title-section{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn-link {
  color: #fff;
  text-decoration: none;  
}