.recommendation-card {
    flex-direction: column;
    align-items: center;
    width: 400px;
    cursor: pointer;
}

.recommendation-image {
    height: 200px;
    width: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.recommendation-details {
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left side */
    width: 400px; /* Matches the width of the card image */
    padding-top: 10px; /* You can adjust this as per your spacing preference */
}

.movie-title {
    font-family: "Inter-Bold", Helvetica; /* Assuming you also wanted the title in Inter-Bold */
    font-size: 20px; /* Adjust this if needed */
    color: #000000; /* Black color */
    margin: 0; /* Removes any default margins */
    padding: 0; /* Removes any default padding */
}

.recommendation-percentage {
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px; /* Adjust this if needed */
    color: #767479; /* Color given for the similarity in the previous CSS */
    margin: 0; /* Removes any default margins */
    padding: 0; /* Removes any default padding */
}